.nav-links {
  display: flex;
  flex-direction: row;
  gap: 10px;
  a {
    color: #4b1794;
    font-size: x-large;
    gap: 25px;
  }

  a:hover {
    color: #4b1794;
    text-shadow: #eb4687 6px 6px 12px,
        #eb4687 6px 6px 12px,
        #eb4687 6px 6px 12px;
  }
}
