.navbar {
  height: 100px;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 2;
  transition: top 0.3s;

  &.hidden {
    top: -100px;
  }

  .wrapper {
    max-width: 1366px;
    margin-left: 35px;
    margin-right: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background-color: transparent;

    span {
      font-weight: 600;
      font-size: large;
      color: #4b1794;
      margin-left: 40px;
      cursor: pointer;
    }
    span:hover {
      color:#eb4687;
    }

    .nav-links {
      margin-left: 260px; 
    }
  }
}